/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.playbackSpeedScroll {
       -fx-background-color: transparent;
}

.playbackSpeedScroll > .viewport {
   -fx-background-color: transparent;
}

.customSpeedSlider .track {
	
	-fx-background-color: null;
}


.customSpeedTrack {
	-fx-accent: white;
}

.customSpeedTrack > .track {
	-fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-text-box-border: transparent;
    -fx-control-inner-background: transparent;
    -fx-background-color: rgba(255, 255, 255, 0.2);
}

.customSpeedTrack > .bar {
	-fx-padding: 1px;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.customSpeedSlider > .thumb {
	-fx-background-color: white;
	-fx-padding: 10;
}



.volumeSlider .track {
	
	-fx-background-color: null;
}


.volumeTrack {
	-fx-accent: white;
}

.volumeTrack > .track {
	-fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-text-box-border: transparent;
    -fx-control-inner-background: transparent;
    -fx-background-color: rgba(255, 255, 255, 0.2);
}

.volumeTrack > .bar {
	-fx-padding: 1px;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.volumeSlider > .thumb {
	-fx-background-color: white;
	-fx-padding: 7;
}

.menuScroll > .viewport {
   -fx-background-color: transparent;
}



.durationSlider .track {
	
	-fx-background-color: null;
	-fx-pref-height: 50px;
}


.durationTrack {
	-fx-accent: red;
}

.durationTrack > .track {
	-fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-text-box-border: transparent;
    -fx-control-inner-background: transparent;
    -fx-background-color: rgba(255, 255, 255, 0.2);
}

.durationTrack > .bar {
	-fx-padding: 0px;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.durationSlider > .thumb {
	-fx-background-color: red;
	-fx-padding: 10; /* hides thumb by default */
	
}
